<!-- Home Page -->

  <%- include('./partials/header') %>

    <h1>Welcome!</h1>
    <!-- Add Welcome <username> -->
    <form action="/chronicles/new" method="GET">
      <button type="submit">Create a Chronicle</button>
    </form>

  <%- include('./partials/footer') %>
