<!-- Home Page -->

  <%- include('./partials/header') %>

  <div id="home-page">
    <h1>Welcome <%= user.name %>!</h1>
    <p><em>"<%= quote %>"</em></p>
    <form action="/chronicles" method="GET">
      <button type="submit">Continue a Chronicle</button>
    </form>
    <p>-OR-</p>
    <form action="/chronicles/new" method="GET">
      <button type="submit">Create a Chronicle</button>
    </form>
  </div>
  
  <%- include('./partials/footer') %>
