<!-- Home Page -->
<!-- FIX THIS PAGE USERNAME AND USERAVATAR ARE NOT WORKING -->
  <%- include('./partials/header') %>

    <h1>Welcome!</h1>
    <img>
    <!-- Add Welcome <username>! and avatar-->
    <form action="/chronicles/new" method="GET">
      <button type="submit">Create a Chronicle</button>
    </form>

  <%- include('./partials/footer') %>
