<!-- Landing Page -->

<%- include('./partials/header') %>

  <div id="landing-page">
    <img src="images/titlepage.png" alt="Chronicles of You" id="titlepage-image">
    <p>Embark on a Transformative Journey with Journaling</p>
    <a href="/auth/google" class="login" id="landing-login">LOG IN with Google</a>
  </div>

  <%- include('./partials/footer') %>

