<!-- Landing Page -->

<%- include('./partials/header') %>

    <h1>My Chronicles</h1>
    <p>Welcome to the Chronicles of You!</p>

      <!-- test for OAuth -->
      <nav>
        <% if (user) { %>
         <a href="/logout">LOG OUT</a>
        <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </nav>
  
  <%- include('./partials/footer') %>

