body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000000;
  color: #F4CF88;
  font-family: 'Noto Serif', serif;
}

a {
  font-family: 'Caprasimo', cursive;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2vmin;
  background-color: #9D62D9;
  width: 100%;
  height: 5vmin;
  padding: 0 20px 0 20px;
  margin: 10px 10px;
  color: #F4CF88;
  font-size: 2.5vmin;
}

nav, a {
  color: #F4CF88;
  text-decoration: none;
}

button {
  font-family: 'Caprasimo', cursive;
  background-color: #9D62D9;
  border-radius: 10px;
  padding: 5px 20px;
  color: #F4CF88;
  font-size: 3vmin;
  border: none;
}

#avatar {
  height: 4vmin;
  border-radius: 100%;
}

#landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#landing-login {
  background-color: #9D62D9;
  border-radius: 10px;
  text-decoration: none;
  padding: 5px 20px;
  color: #F4CF88;
  font-size: 3vmin;
}

#titlepage-image {
  height: 50vmin;
  padding: 5vmin;
  border-radius: 10px;
}

#home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vmin;
  gap: 3vmin;
}

#login-image {
  height: 4vmin;
}

button:hover {
  background-color: #D93425;
}

a:hover {
  color: #D93425;  
}