body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}

/* Test for OAuth */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

/* Test for Deleting a Chronicle */

.delete-chronicle {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-chronicle button {
  color: red;
}
