body {
  height: 100vh;
  background-image: url('https://wallpapercave.com/wp/wp4468225.jpg');
  background-size: 100% auto;
  color: #F4CF88;
  font-family: 'Noto Serif', serif;
  font-size: 2.5vmin;
}

a {
  font-family: 'Caprasimo', cursive;
  color: #F4CF88;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2vmin;
  background-color: #9D62D9;
  width: 100%;
  height: 5vmin;
  padding-right: 10px;
  margin-right: 10px;
  color: #F4CF88;
  font-size: 2.5vmin;
}

button {
  font-family: 'Caprasimo', cursive;
  background-color: #9D62D9;
  border-radius: 10px;
  padding: 5px 20px;
  color: #F4CF88;
  font-size: 3vmin;
  border: none;
}

table {
  border-spacing: 15px;
}

table th {
  font-size: 3vmin;
  font-family: 'Caprasimo', cursive;
}

table td {
  font-size: 2vmin;
}

h1 {
  color: #8552F2;
}

h2 {
  font-size: 4vmin;
}

#avatar {
  height: 4vmin;
  border-radius: 100%;
}

#landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#landing-login {
  background-color: #9D62D9;
  border-radius: 10px;
  text-decoration: none;
  padding: 5px 20px;
  color: #F4CF88;
  font-size: 3vmin;
}

#titlepage-image {
  height: 50vmin;
  padding: 5vmin;
  border-radius: 10px;
}

#home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vmin;
  gap: 3vmin;
}

#login-image {
  height: 4vmin;
}

#chronicle-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#chronicle-display a {
  background-color: #D971B4;
  padding: 5px 20px;
  border-radius: 10px;
}

#chronicle-display th {
  color: #8552F2;
}

#show-page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
  font-size: 3vmin;
}

#show-page-header h1 {
  font-family: 'Caprasimo', cursive;
  font-size: 4vmin;
}

#show-page-header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#entry-table {
  margin: auto;
}

#entry-table table {
  background-color: #8552F2;
  border-radius: 10px;
  text-align: center;
}

#entry-table td {
  font-size: 2.5vmin;
}

#entry-table th {
  font-family: 'Noto Serif', serif;
}

#new-entries-form {
  margin: auto;
  background-color: #9D62D9;
  border-radius: 10px;
  padding: 3vmin;
  font-size: 2.5vmin;
  max-width: 70vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#new-entries-form h2 {
  font-family: 'Caprasimo', cursive;
}

#new-entries-form input[type="submit"] {
  font-family: 'Caprasimo', cursive;
  background-color: #D971B4;
  border-radius: 10px;
  padding: 5px 20px;
  color: #F4CF88;
  font-size: 2.5vmin;
  border: none;
}

#hidden-form {
  display: none;
}

#text-box {
  font-family: 'Noto Serif', serif;
  border-radius: 10px;
  padding: 5px 20px;
  color: #8552F2;
  font-size: 2.5vmin;
  border: none;
}

#show-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vmin;
}

#text-box {
  height: 10vmin;
  width: 60vmin;
}

#book {
  height: 10vmin;
}

#create-chronicle {
  background-color: #8552F2;
  border-radius: 10px;
  font-size: 3vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70vmin;
  margin: 5vmin auto;
  padding: 5vmin;
}

#create-chronicle form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#create-chronicle input[type="submit"] {
  font-family: 'Caprasimo', cursive;
  background-color: #D971B4;
  border-radius: 10px;
  padding: 5px 20px;
  color: #F4CF88;
  font-size: 2.5vmin;
  border: none;
}

#create-chronicle input[type="text"] {
  font-family: 'Caprasimo', cursive;
  border-radius: 10px;
  padding: 5px 20px;
  color: #D971B4;
  font-size: 2.5vmin;
  border: none;
}

#create-chronicle input[type="date"] {
  font-family: 'Caprasimo', cursive;
  border-radius: 10px;
  padding: 5px 20px;
  color: #D971B4;
  font-size: 2.5vmin;
  border: none;
}

#show-content #entry-table table button {
  background-color: #D971B4;
}

.drop-box {
  border-radius: 10px;
  color: #8552F2;
  font-family: 'Noto Serif', serif;
}

button:hover {
  background-color: #D93425;
}

a:hover {
  color: #D93425;  
}

#create-chronicle input[type="submit"]:hover {
  background-color: #D93425;  
}