<!-- Why do I even have this page? What does it do?-->
<!-- Is this page where all of the chronicles should go?-->

<%- include('../partials/header') %>

<h2>Chronicle List</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <!-- Write the line of EJS to iterate over movies using forEach -->
      <h1>test</h1>
    <tr>
        <td><%= c.title %></td>
        <td><%= c.date %></td>
      </tr>
    <!-- Close the forEach using EJS here -->
  </tbody>
</table>

<%- include('../partials/header') %>