<!-- New Chronicle Form Page -->

<%- include('../partials/header') %>

<div id="create-chronicle">
  <h2>Create a Chronicle</h2>
  <form action="/chronicles" method="POST">
    <label>Create a Title:
      <input type="text" name="title">
    </label><br>
    <label>Date Created:
      <input type="date" name="date">
    </label><br>
    <input type="submit" value="Create Chronicle">
  </form>
  <p><%= errorMsg %></p>
</div>

<%- include('../partials/footer') %>