<!-- New Chronicle Form Page -->

<%- include('../partials/header') %>

<h2>Create a Chronicle</h2>
<form action="/chronicles" method="POST">
  <label>Create a Title:
    <input type="text" name="title">
  </label><br>
  <label>Date Created:
    <!-- WHY DOES THIS KEEP ADDING THE TIME???? -->
    <input type="date" name="date" pattern="\d{4}-\d{2}-\d{2}">
  </label>
  <input type="submit" value="Create Chronicle">
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>