<!-- SHOW CHRONICLES PAGE -->
<!-- This page shows the chronicle after being created-->

<%- include('../partials/header') %>

<section id="show-page">
    <h1>Chronicle Created</h1>
    <div>Chronicle Image</div>
    <div><%= chronicle.title %></div>
    <div><%= chronicle.date %></div>
</section>

<%- include('../partials/footer') %>